* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Header {
    background-color: darkgrey;
    padding:10px 10px 10px 0px;
    font-family: 'Courier New', Courier, monospace;
}
.Header h1 {
    display:inline-block;
    margin-left: 0px;
    margin-top:5px;
    margin-bottom: 5px;
    background-color: whitesmoke;
    font-size: 50px;
    padding-left: 50px;
}

a{
    color:black;
}
.Header nav {
    padding-top: 15px;
    float:right
}
.Header ul li {
    display:inline-block;
    font-size: 25px;
}
.Caption {
    padding:50px;
    background-image: url("../image_1.png");
}

.Caption div {
    float:right;
}

.Caption h2{
    text-align: right;
    background-color:teal;
}

.AboutME {
    margin:30px;
}
.AboutMeHeader {
    display:flex; 
    text-align: right;
}

.AboutMeHeader h2{
    margin-right: 50px;
    font-size: 60px;
    color:rgb(5, 93, 134);
}
.AboutMeHeader p{
    flex-wrap: wrap;
    font-size: 20px;
    text-align: left;
}

.WorkSectionAsWhole{
    display:flex;
    margin-top:20px;
}

.WorkHeader{
    color:rgb(5, 93, 134);
    display: flex;
    font-size: 60px;
    margin-right: 50px;
    flex-wrap: wrap;
}

.BoxesAsWhole{
    display:inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    flex-basis: 100%;

}
.SmallerBoxes{
    border:black solid 20px;
    margin:10px;
    padding:25px;
    display:inline-block;
    flex-direction: column;
    width:39%;
    height:35%;

}

.BiggerBox{
    border:black solid 20px;
    margin:10px;
    padding:25px;
    display:inline-block;
    flex-direction: column;
    height: 70%;
    width:80%;
}

footer {
    margin-top:300px;
    background-color: darkgrey;
    padding:25px;
    font-family: 'Courier New', Courier, monospace;
}
footer h2{
    display:inline-block;
    margin-left: 0px;
    margin-top:5px;
    margin-bottom: 5px;
    background-color: whitesmoke;
    font-size: 50px;
}

.Lower{
    padding-top: 15px;
    float:right
}

.Lower ul li{
    display:inline-block;
    font-size: 25px;
}