* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Header {
    background-color: rgb(67, 69, 73);
    padding:20px 20px 20px 0px;
    font-family: 'Courier New', Courier, monospace;
}
.Header h1 {
    display:inline-block;
    margin-left:0px;
    margin-top:5px;
    margin-bottom: 5px;
    background-color: rgb(10, 208, 235);
    font-size: 60px;
    padding-left: 50px;
    border-radius: 10px;
}

a{
    color:black;
}
.Header nav {
    padding-top: 15px;
    float:right
}
.Header ul li {
    display:inline-block;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 10px;
}
.Caption {
    padding:2%;
    background-image: url("../gradient-dynamic-blue-lines-background_23-2148995756.jpeg");
    background-size: cover;
}

.Caption img{
    position: relative;
    background-size: contain;
}

.Caption div {
    float:right;
}

.Caption h2{
    text-align: right;
    background-color: rgb(232, 240, 241);
    position: relative;
    top:200px;
    border-radius: 10px;
}

.Caption img{
    border-radius: 10px;
}

.EntireAboutWork {
    margin:30px;
}
.AboutAsWhole {
    display:flex; 
    text-align: right;
}

.AboutAsWhole h2{
    margin-right: 85px;
    font-size: 50px;
    color:rgb(5, 93, 134);
}
.AboutAsWhole p{
    flex-wrap: wrap;
    font-size: 20px;
    text-align: left;
    margin-left:20px;
}

.AboutAsWhole p span{
    display: flex;
    position:relative;
    margin-top: 20px;
    margin-bottom:20px;
}


.WorkHeader{
    color:rgb(5, 93, 134);
    font-size: 50px;
    margin-right: 50px;
    float:left;
}

.BoxesAsWhole{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.SmallerBoxes{
    border:rgb(3, 240, 248) solid 10px;
    margin:5px;
    padding:70px 00px 70px 00px;
    width:44.5%;
    flex-direction: column;
    background-image: url("../coming-soon-message-illuminated-with-light-projector_1284-3622.jpeg");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display:inline-block;
}

.SmallerBoxes section {
    top:50px;
    position: relative;
    float:left;
    background-color: lightcyan;
    border-radius: 10px;
}

.BiggerBox{
    border:rgb(3, 240, 248) solid 10px;
    margin:5px;
    padding:275px 00px 275px 00px;
    flex-direction: column;
    width:90%;
    background-image: url("../Horiseon_Screenshot\ copy.png");
    background-size: cover;
    background-position: center;
}

#Link{
    position: relative;
    background-color: lightcyan;
    float:left;
    top:200px;
    display:flex;
    font-size: 30px;
    border-radius: 10px;
}


footer {
    padding:20px 20px 20px 0px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
}
footer h2{
    margin-left: 30px;
    margin-top:5px;
    margin-bottom: 5px;
    font-size: 40px;
}

footer h2 span{
    position: relative;
    display: block;
    text-align: right;
}

.Lower{
    padding-top: 15px;
    margin-left: 10%;
    display:flex;
    position: relative;
    align-items: center;
}

.Lower ul li{
    display:inline-block;
    font-size: 25px;
    margin-left: 30px;
}

@media screen {
    
}
